@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');


body {
    background-color:rgb(245, 239, 243); 
    padding:  20px 100px 20px 100px;
    margin: 20px 20px 20px 20px;
    

   
}

h1 {
    font-family: 'Cookie', cursive;
    font-size: 50pt;
    position: relative;
    right:-100px;
    margin: 1px;

}

div#principal {
    border-radius: 5%;
    background-color: rgb(255, 129, 192);
    background-size: 5px;
    position:relative;
    padding: 10px;
    
    
}

div #calculadora {
    position: relative;
    top: -115px;
    right: -10px;
}

table {
    position: relative;
    margin: 10px;
    left: 150px;
}


